/* ---Container--- */
#container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    height: 600px;
    width: 600px;
    border: 50px rgb(145, 0, 0) solid;
    border-radius: 25px;
    /* formatting of grid */
    display: grid;
}

#container.child {
    display: inline-block;
    text-align: start;
}
.button-container {
    text-align: center;
}

.title-container {
    text-align: center;
}
/* ---BUTTONS--- */
button {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 25px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    background-color: white;
}

.reset-button {

}

.rainbow-button {
   
}