/* ---Container--- */
#container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    height: 600px;
    width: 600px;
    border: 50px rgb(145, 0, 0) solid;
    border-radius: 25px;
    /* formatting of grid */
    display: grid;
}

#container.child {
    display: inline-block;
    text-align: start;
}
/* ---BUTTONS--- */
button {
    display: grid;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px
}

.reset-button {
    
}

.rainbow-button {
   
}